<div class="banner-top">
    <div class="container">
        <h1>Contact</h1>
        <em></em>
        <h2><a href="@Url.Action("Welcome","Store")">Home</a><label>/</label>@ViewContext.RouteData.Values["action"]</h2>
    </div>
</div>